* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-background {
  width: 100%;
  height: 31.25rem;
  background-image: url(/img/layoutBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.0625rem;

  text-align: center;
  color: white;

  position: relative;
}

.main-title {
  margin-top: 8%;
  font-size: 2.5rem;
}

.main-content {
  margin-top: 5%;
  margin-bottom: 5%;
}

.main-button {
  box-sizing: border-box;
  margin-top: 1.875rem;

  font-size: 1.25rem;
  width: 15%;
  padding: 1.25rem;
  background-color: white;
  border: none;
  border-radius: 0.625rem;

  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.explain-box {
  width: 80%;
  max-width: 37.5rem;

  margin: auto;

  padding: 20px;
  text-align: center;
  background-color: #eee;

  position: relative;
  top: -30px;
}

.explain-box h4 {
  margin: 1% 0;
}

input[type="text"] {
  padding: 1.25rem;
  font-size: 0.625rem;
  border: 0.125rem solid black;
  border-radius: 0.3125rem;
}
