@font-face {
  font-family: "NanumSquareR";
  src: url("../../font/NanumSquareR.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumGothic";
  src: url("../../font/Nanum_Gothic/NanumGothic-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p,
h4,
h3,
h2,
h1,
span {
  transform: rotate(0.03deg);
}

body {
  width: 100%;
  height: 100%;
  font-family: "NanumSquareR", "NanumGothic";
}

ul {
  list-style: none;
}

h4 {
  margin: 1% 0;
}

.menuList-item i {
  background-color: burlywood;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 3.125rem;
  padding-top: 1.5625rem;
  margin-top: 1.25rem;
  color: white;
}

.width-40 {
  width: 40%;
}

.width-45 {
  width: 45%;
}

.f-size20 {
  font-size: 20px;
}

.main-background {
  width: 100%;
  height: 31.25rem;
  background-image: url(/img/layoutBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.0625rem;

  text-align: center;
  color: white;

  position: relative;
}

.main-title {
  margin-top: 8%;
  font-size: 2.5rem;
}

.main-content {
  margin: 5% 0;
}

.main-button {
  box-sizing: border-box;
  margin-top: 1.875rem;

  font-size: 1.25rem;
  width: 15%;
  padding: 1.25rem;
  background-color: white;
  border: none;
  border-radius: 0.625rem;

  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  font-weight: 900;
}

.explain-box {
  width: 80%;
  /* max-width: 37.5rem; */

  margin: auto;

  padding: 20px;
  text-align: center;
  background-color: #eee;

  position: relative;
  top: -30px;
}

.background-black {
  width: 100%;
  background-color: black;
  padding: 3%;
}

.contact-box {
  padding: 1.875rem;
  background-color: white;

  width: 50%;
  max-width: 37.5rem;

  display: block;
  margin-left: auto;
  margin-right: auto;

  border: 0.0625rem solid #eee;
}

.contact-form {
  width: 100%;
  max-width: 31.25rem;
  margin-top: 1.25rem;
}

.contact-form h2 {
  margin-bottom: 4%;
}

.contact-form div {
  padding: 2% 0;
}

.contact-form input,
textarea {
  margin-top: 0.625rem;
}

.contact-form input[type="text"],
input[type="email"] {
  padding: 1.25rem;
  width: 100%;

  font-size: 0.9375rem;
  border: 0.125rem solid #eee;
  border-radius: 0.3125rem;
}

.margin-right-10 {
  margin-right: 10%;
}

.contact-textarea {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.send-button-box {
  width: 49%;
}

.yellow-button {
  margin-left: 15rem;
  padding: 1.25rem;
  width: 30%;

  font-size: 0.9375rem;
  border: 0.125rem solid #eee;
  border-radius: 0.3125rem;

  background-color: #ff9900;
  color: white;
}

.flex {
  display: flex;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.nav-container {
  height: 6.25rem;

  background-color: #f8566c;

  color: white;
  align-items: center;

  padding: 0 30px;
}

.nav-item {
  padding: 0 20px;
}

.menuList-container {
  width: 80%;
  max-width: 50rem;

  margin: auto;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.menuList-item {
  width: 25%;

  padding: 0.6875rem;
}

.item-title {
  font-weight: 900;
  padding: 0.625rem 0;

  font-size: 1.25rem;
}

.shop-bg {
  background-color: #eee;
  padding: 1.25rem;

  margin: 1.875rem 0;
}

.shop-container {
}

.shop-item {
  width: 33%;
  height: 33%;
  padding: 0.9375rem;
}

.shop-item img {
  width: 100%;
  height: 100%;

  display: block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  padding: 3.125rem;

  transition: all 0.3s ease-out;
}

.overlay:hover {
  opacity: 1;
}

.overlay-item {
  color: #eee;
  text-align: left;
}

.overlay-item p {
  margin-bottom: 0.625rem;
}

@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 1.875rem;
  }

  .nav-item {
    font-size: 0.75rem;
  }

  .menuList-item {
    width: 50%;
  }

  .item-title {
    font-size: 1rem;
    font-weight: 900;
  }

  .menuList-container {
    background-color: #eee;
  }
}
@media screen and (max-width: 576px) {
  .main-title {
    font-size: 1.25rem;
  }

  .nav-item {
    font-size: 0.75rem;
  }

  .menuList-item {
    flex-basis: 100%;
  }

  .item-title {
    font-weight: 900;
  }

  .menuList-container {
    background-color: #eee;
  }
}
