* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.menuList-container {
  width: 80%;
  max-width: 40.625rem;

  margin: auto;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.menuList-item {
  width: 25%;

  padding: 1.25rem;
  background-color: #eee;
}

.item-title {
  font-weight: bolder;
  padding: 0.625rem 0;

  font-size: 1.25rem;
}

@media screen and (max-width: 1200px) {
  .menuList-item {
    width: 50%;
  }

  .item-title {
    font-size: 1.0625rem;
  }
}
@media screen and (max-width: 576px) {
  .menuList-item {
    flex-basis: 100%;
  }

  .item-title {
    font-size: 0.875rem;
  }
}
