.container {
  width: 800px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: aquamarine;
}

.left-menu {
  width: 20%;
  height: 400px;
  background-color: cornflowerblue;
}

.content {
  width: 80%;
  height: 400px;
  background-color: coral;
}
